@import '../../styles.scss';

$header-backgroundcolor: #000000;

.header-div{
    background-color: $header-backgroundcolor;
    height: 60px;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div{
        cursor: pointer;
    }
}

h1{
    font-family: $primary-font-family;
    font-weight: 400;
    color: white;
}
.info-img{
    height: 32px;
    filter: invert(1);
}