@import '../../../styles.scss';

.about-div{
    background-color: $background-grey;
    display: flex;
    align-items: center;

    height: 100%
}

.info-div{
    padding: 36px 16px;
    
    background-color: $background-grey;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 32px;

    background: rgba(168,142,116,1);
    background: -moz-linear-gradient(-45deg, rgba(168,142,116,1) 0%, rgba(183,160,133,1) 5%, rgba(222,195,169,1) 26%, rgba(222,195,169,1) 31%, rgba(209,184,159,1) 43%, rgba(179,155,131,1) 68%, rgba(153,130,106,1) 96%, rgba(153,130,106,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(168,142,116,1)), color-stop(5%, rgba(183,160,133,1)), color-stop(26%, rgba(222,195,169,1)), color-stop(31%, rgba(222,195,169,1)), color-stop(43%, rgba(209,184,159,1)), color-stop(68%, rgba(179,155,131,1)), color-stop(96%, rgba(153,130,106,1)), color-stop(100%, rgba(153,130,106,1)));
    background: -webkit-linear-gradient(-45deg, rgba(168,142,116,1) 0%, rgba(183,160,133,1) 5%, rgba(222,195,169,1) 26%, rgba(222,195,169,1) 31%, rgba(209,184,159,1) 43%, rgba(179,155,131,1) 68%, rgba(153,130,106,1) 96%, rgba(153,130,106,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(168,142,116,1) 0%, rgba(183,160,133,1) 5%, rgba(222,195,169,1) 26%, rgba(222,195,169,1) 31%, rgba(209,184,159,1) 43%, rgba(179,155,131,1) 68%, rgba(153,130,106,1) 96%, rgba(153,130,106,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(168,142,116,1) 0%, rgba(183,160,133,1) 5%, rgba(222,195,169,1) 26%, rgba(222,195,169,1) 31%, rgba(209,184,159,1) 43%, rgba(179,155,131,1) 68%, rgba(153,130,106,1) 96%, rgba(153,130,106,1) 100%);
    background: linear-gradient(135deg, rgba(168,142,116,1) 0%, rgba(183,160,133,1) 5%, rgba(222,195,169,1) 26%, rgba(222,195,169,1) 31%, rgba(209,184,159,1) 43%, rgba(179,155,131,1) 68%, rgba(153,130,106,1) 96%, rgba(153,130,106,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a88e74', endColorstr='#99826a', GradientType=1 );

    -webkit-box-shadow: 8px 10px 34px -10px rgba(94,78,62,1);
    -moz-box-shadow: 8px 10px 34px -10px rgba(94,78,62,1);
    box-shadow: 8px 10px 34px -10px rgba(94,78,62,1);
}

.info-title{
    font-family: $primary-font-family;
    font-size: 32px;

    text-align: center;

    margin-bottom: 12px;
}

.info-content{
    font-family: $secondary-font-family;
    font-size: 20px;
    
    text-align: center;
}

.dev-images{
    display: flex;
    gap: 24px;

    div{
        cursor: pointer;
    }

    img{
        width: 128px;
    }
}

@media (min-width: 0px) and (max-width: 768px){
    .about-div{
        display: block;

        padding-top: 20px;
    }

    .info-div{
        margin: auto;
        margin-bottom: 35px;

        width: 90%;
    }
}

@media (min-width: 769px){
    .about-div{
        display: flex;
        justify-content: space-around;
    }

    .info-div{
        max-width: 700px;
    }
}