<div class="about-div">
    <div class="info-div">
        <div>
            <div class="info-title">
                <p>Magias</p>
            </div>
            <div class="info-content">
                <p>Todas as magias encontradas nesse site foram retiradas do Livro do Jogador - D&D 5e, distribuído pela Galápagos no Brasil.</p>
            </div>
        </div>

        <div>
            <div class="info-title">
                <p>Ícones</p>
            </div>
            <div class="info-content">
                <p>Todos os ícones utilizados nesse site pertencem à <a href="https://www.flaticon.com/br/icones" target="_blank" title="Ícones">Flaticon</a>.</p>
            </div>
        </div>

        <div>
            <div class="info-title">
                <p>Desenvolvedor</p>
            </div>
            <div class="info-content">
                <div>
                    <p style="font-size: 22px;">Felipe Sinnemann</p>
                    <br/>
                    <div class="dev-images">
                        <div (click)="openDevLinks('https://github.com/FelipeSinnemann')">
                            <img src="assets/icons/github.png" alt="Ícone do Github" />
                            <p>Github</p>
                        </div>
                        <div (click)="openDevLinks('https://www.linkedin.com/in/felipe-sinnemann/')">
                            <img src="assets/icons/linkedin.png" alt="Ícone do LinkedIn"/>
                            <p>LinkedIn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>