<div class="spells-div">
    <div class="filters-div" [ngClass]="{'filters-div-sidebar-active': selectedSpell}">
        <div class="filters-header">
            Filtros
        </div>
        <div class="filters-fields" [ngClass]="{'filters-fields-shown': showMobileFilters, 'filters-fields-hidden': !showMobileFilters, }">
            <div class="filter">
                <span>Nome da magia:</span>
                <input type="text" placeholder="Palavra de Poder..." [(ngModel)]="filters.name" (keyup.enter)="getSpells()" (blur)="getSpells()" style="width: 300px">
            </div>
            <div class="filter">
                <span>Nível:</span>
                <input type="number" min="0" max="9" placeholder="Nível..." [(ngModel)]="filters.level" (keyup.enter)="getSpells()" (blur)="getSpells()" style="width: 150px">
            </div>
            <div class="filter">
                <span>Classe:</span>
                <select [(ngModel)]="filters.class_id" (ngModelChange)="getSpells()" style="width: 150px">
                    <option value=null>Todas</option>
                    <option *ngFor="let class of classes" [value]="class.id">{{class.name}}</option>
                </select>
            </div>
            <div class="filter">
                <span>Escola:</span>
                <select [(ngModel)]="filters.school_id" (ngModelChange)="getSpells()" style="width: 150px">
                    <option value=null>Todas</option>
                    <option *ngFor="let schoolId of schoolsKey" [value]="schoolId">{{schoolsEnum[schoolId]}}</option>
                </select>
            </div>
        </div>
        <div class="arrow-div" (click)="openCloseMobileFilters()">
            <img src="assets/icons/arrowhead.png" class="arrow-img" [ngClass]="{'arrow-up': showMobileFilters, 'arrow-down': !showMobileFilters, }">
        </div>
    </div>
    <div class="spells-content-div" [ngClass]="{'spells-content-div-sidebar-active': selectedSpell}">
        <div class="spell-div" *ngFor="let spell of spells" (click)="selectSpell(spell)" id="spell-{{spell.id}}">
            <app-spell [spell]="spell" [selected]="spell.id == selectedSpell?.id"></app-spell>
        </div>
        <div class="spell-div" *ngFor="let n of spellsPlaceholder(spells.length % 3)">
        </div>

        <div *ngIf="spells.length == 0" class="no-spells-div">
            <span>Nenhuma magia encontrada</span>
        </div>
    </div>

</div>
<app-spell-sidebar [selectedSpell]="selectedSpell" (closedSidebar)="selectSpell(null)"></app-spell-sidebar>