@import "../../../../styles.scss";

.spell-div{
    max-width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;

    font-family: $secondary-font-family;
    font-size: 20px;
    font-style: italic;

    border-bottom: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 5px 0px $background-grey;
}

.spell-div:hover{
    background-color: $background-grey;
}

.spell-div-selected{
    -webkit-box-shadow: inset 0px 0px 44px -9px rgba(133,112,90,0.49);
    -moz-box-shadow: inset 0px 0px 44px -9px rgba(133,112,90,0.49);
    box-shadow: inset 0px 0px 44px -9px rgba(133,112,90,0.49);
}

.first-row{
    display: flex;
    justify-content: space-between;
}

.spell-name{
    font-family: $primary-font-family;
    font-style: normal;
    font-size: 30px;
}

.spell-icons img{
    height: 32px;
    width: 32px;
    margin: 0 2px;
}

.second-row{
    font-weight: 300;
}

.third-row{
    display: flex;
    flex-wrap: wrap;

    font-weight: 500;
    padding-bottom: 20px;
}

.third-row div{
    flex: 1 0 45%;

    overflow: hidden;
    p{
        overflow: hidden;
        text-overflow: ellipsis;
        
        white-space: nowrap;
    }
}

.fourth-row{
    overflow-y: hidden;
}

.spell-description{
    max-height: 310px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    line-clamp: 12; 
    -webkit-box-orient: vertical;

    text-indent: 25px;
}

::ng-deep .special-hidden{
    table{
        display: none;
    }

    ul{
        display: none;
    }

    .special-placeholder{
        text-align: center;
        text-decoration: underline;
        display: block;
    }  
} 